{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h2 style="margin-left:15px; margin-top:15px">Following</h2>

    {% if user.is_authenticated %}

        {% for post in page_posts %}
            <div style="border: 1px solid lightgrey; padding-left:15px; padding-top:15px; margin: 20px; border-radius: 10px; height: 195px;" id="{{post.id}}">
                <a class="nav-link" href="{% url 'profile' post.user.id %}" style="padding: 0px; font-size: 20px; color: black;">{{ post.user }}</a>
                <div class="text">
                <p>{{ post.text }}</p>
                <p style="color:grey; margin-bottom: 10px;">{{ post.timestamp }}</p>
                <div style="display: flex; margin: 0px; height: 20px;">
                    <p><b>Likes: </b></p><p class="likes" style="margin: 0px;">{{ post.likes.count }}</p>
                </div>
                {% if post.user == user %}
                    <a style="margin: 0px;" href="#">Edit</a>
                {% endif %}
            </div>
            {% if post.user != user %}
                {% if post in liked_posts %}
                    <button class="btn btn-sm btn-outline-success mt-2" onclick="unlikeHandler('{{post.id}}')">Unlike</button>
                {% else %}
                    <button class="btn btn-sm btn-outline-success mt-2" onclick="likeHandler('{{post.id}}')">Like</button>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
        {% if page_posts.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{page_posts.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% if page_posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{page_posts.next_page_number}}">Next</a></li>
        {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script>
        function unlikeHandler(post_id) {
            var target_div = document.getElementById(`${post_id}`).getElementsByClassName("likes")[0];
            var target_btn = document.getElementById(`${post_id}`).getElementsByClassName("btn")[0];
            target_btn.innerHTML = 'Like'
            likes = target_div.innerHTML
            new_likes = parseInt(likes) - 1
            target_div.innerHTML = new_likes
            fetch(`/${post_id}/unlike`)
            .then(response => response.json)
            .then(result => {console.log(result)})
        };

        function likeHandler(post_id) {
            var target_div = document.getElementById(`${post_id}`).getElementsByClassName("likes")[0];
            var target_btn = document.getElementById(`${post_id}`).getElementsByClassName("btn")[0];
            target_btn.innerHTML = 'Unlike'
            likes = target_div.innerHTML
            new_likes = parseInt(likes) + 1
            target_div.innerHTML = new_likes
            fetch(`/${post_id}/like`)
            .then(response => response.json)
            .then(result => {console.log(result)})
        };
    </script>
{% endblock %}